* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: lightgray;
}

.std-img {
    width: 180px;
    height: 180px;
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
}

.label-data{
    background-color: rgba(245, 245, 245, 0.205);
    border-color: rgba(105, 105, 105, 0.589);
}

.panel-head {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(169, 169, 169);
}

.input-heading {
    font-size: 16px;
    font-weight: 500;
}

.button {
    width: 30%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 194);
    color: white;
    font-size: 18px;
    border-radius: 18px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px;
}

.button:hover {
    transition: ease-in-out;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

table {
    border: 2px solid black;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 95%;
}

.add-new {
    background-color: whitesmoke;
    padding: 10px 22px;
    font-size: 22px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.add-new a:hover {
    background-color: gray;
    padding: 10px 22px;
    font-size: 22px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.add-new img {
    margin-bottom: 3px;
}

.action {
    text-align: center;
    margin-top: 30px;
}

.search-bar {
    margin-bottom: 28px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
}

.search-btn {
    background-color: rgb(29, 21, 172);
    padding: 8px 10px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.grid {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.error-border{
    border-color: red;
}

footer{
    margin-top: 50px;
}

.icon img {
    width: 26px;
    height: 26px;
}

.link-btn {
    text-align: center;
}

.page-bar {
    text-align: center;
    margin: auto;
    margin-top: 18px;
}

.page-nav a {
    background-color: whitesmoke;
    padding: 8px 10px;
    font-size: 16px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: black;
    font-weight: 500;
}

.page-nav a:hover {
    background-color: blue;
    padding: 8px 10px;
    font-size: 16px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
}