.action {
    text-align: center;
    margin-top: 30px;
}

.add-new {
    background-color: whitesmoke;
    padding: 10px 22px;
    font-size: 22px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.add-new a:hover {
    background-color: gray;
    padding: 10px 22px;
    font-size: 22px;
    border: 0px;
    outline: 0px;
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.add-new img {
    margin-bottom: 3px;
}

.search-bar {
    margin-bottom: 28px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
}

form {
    margin-top: 20px;
}

form div {
    display: inline-block;
    margin: 0px 10px;
}

.search-btn {
    background-color: rgb(29, 21, 172);
    padding: 8px 10px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.student-profile-list {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    border: 2px solid black;
    background-color: whitesmoke;
    color: black;
}

.table {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 95%;
}

.icon img {
    width: 26px;
    height: 26px;
}

.link-btn {
    text-align: center;
}

.page-bar {
    text-align: center;
    margin: auto;
    margin-top: 18px;
}

.page-nav a {
    background-color: whitesmoke;
    padding: 8px 10px;
    font-size: 16px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: black;
    font-weight: 500;
}

.page-nav a:hover {
    background-color: blue;
    padding: 8px 10px;
    font-size: 16px;
    border: 0px;
    outline: 0px;
    border-radius: 12px;
    color: whitesmoke;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:1024px) {
    .search-bar {
        margin-bottom: 28px;
        padding: 8px;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 10px;
        width: 150px;
    }

    form div {
        display: inline-block;
        margin: 0px 4px;
    }

    .table {
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 100%;
        font-size: 14px;
    }

    .last, .nic{
        display: none;
    }
}

@media (max-width:768px) {

    .search-bar {
        margin-bottom: 28px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 10px;
        width: 200px;
    }

    form div {
        display: block;
        margin: 0px 4px;
    }

    .email{
        display: none;
    }
    
    .add-new img {
        display: none;
    }

    .btn{
        margin-top: 20px;
    }
}