form {
    margin-top: 20px;
}

form div {
    display: inline-block;
    margin: 0px 10px;
}

@media (max-width:1024px) {
    .search-bar {
        margin-bottom: 28px;
        padding: 8px;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 10px;
        width: 150px;
    }

    form div {
        display: inline-block;
        margin: 0px 4px;
    }

    .table {
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 100%;
        font-size: 14px;
    }

    .last, .nic{
        display: none;
    }
}

@media (max-width:768px) {

    .search-bar {
        margin-bottom: 28px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 10px;
        width: 200px;
    }

    form div {
        display: block;
        margin: 0px 4px;
    }

    .email{
        display: none;
    }
    
    .add-new img {
        display: none;
    }

    .btn{
        margin-top: 20px;
    }
}