.wrapper {
    width: 70%;
    height: max-content;
    background-color: whitesmoke;
    color: black;
    margin: 24px auto;
}

.table {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.button{
    width: 10%;
}

div span {
    color: red;
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}
