.wrapper {
    width: 70%;
    height: max-content;
    background-color: whitesmoke;
    color: black;
    margin: 24px auto;
}

.table {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.button{
    width: 10%;
}